<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AutoClick.Properties.Settings.CMS_VINAConnectionString"
            connectionString="Data Source=14.160.33.94,5005;Initial Catalog=CMS_VINA;Persist Security Info=True;User ID=sa;Password=*11021201$"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
