<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autoupdater.NET.Official" version="1.7.0" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net472" />
  <package id="PdfiumViewer" version="2.10.0.0" targetFramework="net472" />
  <package id="RawPrint" version="0.5.0" targetFramework="net472" />
  <package id="RibbonWinForms" version="5.0.1.1" targetFramework="net472" />
  <package id="Selenium.Chrome.WebDriver" version="85.0.0" targetFramework="net472" />
  <package id="Spire.PDF" version="8.6.1" targetFramework="net472" />
  <package id="ZXing.Net" version="0.16.8" targetFramework="net472" />
</packages>